<!DOCTYPE html>
<html>

<head>
  <title>Socket.IO - trybe</title>
  <link rel="stylesheet" href="./css/chat.css">
</head>

<body>
  <main>
    <div class="main">
      <div class="container" class="online">
        <div>
          <form id="nickname-input-form" action="">
            <input id="input-nickname" data-testid="nickname-box" autocomplete="off" placeholder="nickname" value="" />
            <button type="submit" data-testid="nickname-button">SAVE</button>
          </form>
        </div>

        <section class="online-container">
          <div>Usuários online</div>
            <div class="online-people">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="avatar">
              <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="avatar">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">

            </div>
            <ul id="online-users-list"></ul>
        </section>
    </div>

    <div class="container" class="messages">
      <section class=chat>
        <div>Mensagens</div>
        <ul class="messages"></ul>
        <form id="message-input-form" action="">
         <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="avatar">
          <input type="text" data-testid="message-box" id="messageInput" autocomplete="off" placeholder="enter the message" />
          <button type="submit" data-testid="send-button">SEND</button>
        </form>
      </section>
      <div> 
    </div>
      </div>
    </div>
  </main>

      <script src="/socket.io/socket.io.js"></script>
      <script src='./js/chat.js'></script>
  </body>

</html>
