* {
  box-sizing: border-box;
  font-weight: 600;
  margin: 0;
  padding: 0;

}

.main {
  background: linear-gradient(to right, #0abfbc, #fc354c);
  display: flex;
  height: 600px;

}

.container {
  display: block;
  margin-left: 50px;
  margin-right: 100px;}

form {
  display: flex;
  height: 40px;
  margin: 20px 0;
  width: 100%;
}

.online-people img {
  border-radius: 60%;
  display: inline;
  height: 50px;
  margin: 10px;
  width: 50px;
}

button {
  background: linear-gradient(to right, #d3cce3, #e9e4f0);
  width: 100px;
}

input {
  text-align: center;
}

form input , form button {
  border: none;
  border-bottom: 1px solid #555;
  flex: 3;
  margin: 0 5px;
  outline: none;
}

ul li {
  align-items: center;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 10px 0;
  padding: 10px;
  text-transform: capitalize;
}

@media ( max-width : 400px ) {

  .App { padding: 10px; }
}
